[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Tomas Kirkegaard
	email = tomas.kirkegaard@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[diff]
        tool = difftastic
	external = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difftastic "$LOCAL" "$REMOTE"

[pager]
        difftool = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[init]
	defaultBranch = main
